<!DOCTYPE html>
<html>
  <head>      
    <link rel="stylesheet" type="text/css">
    <title></title>    
  </head>
  
  <body ng-app = "" class = "login">
    
		
	<div ng-controller = "appController">
			
		<div>
			Email : <input name = "email" ng-model = "user.email"> <br>
			Name : <input name = "name" ng-model = "user.name"> <br>
			password : <input name = "password" ng-model = "user.password"> <br>
			mobile : <input name = "mobile" ng-model = "user.mobile"> <br>
			tariff plan
			
			<input type = "radio" name = "tariffplan" ng-model = "user.tariffplan" value = "1" ng-selected = "true" ng-checked = "true" ng-click = "showfirstlocation = true; showsecondlocation = false;">plan one
			<input type = "radio" name = "tariffplan" ng-model = "user.tariffplan" value = "2" ng-click = "showfirstlocation = true; showsecondlocation = true;">plan two
			<input type = "radio" name = "tariffplan" ng-model = "user.tariffplan" value = "3" ng-click = "showfirstlocation = false; showsecondlocation = false;">plan three
			
			sensor location<input ng-model = "user.tariffsensorlocation" ng-show = "showfirstlocation">
			sensor location1<input ng-model = "user.tariffsensorlocation1" ng-show = "showsecondlocation">		
							
			<button ng-click = "signup()">SIGN UP</button>
		</div>		

	</div>
	
	
			
	    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script>
        function appController($scope, $http) {
        	
        	$scope.user = {};
        	$scope.data = [];
        	$scope.showfirstlocation = true;
        	$scope.user.tariffplan = 1;
        	//$scope.showsecondlocation = true;
        	
			$scope.signup = function(){
        		
				alert($scope.user.tariffplan);
				//return;
				$scope.data[0] = $scope.user;
        		$scope.data[1] = 3;
				
        		$http({method: 'POST', url: '/signup', data: $scope.data, processData: false}).then(function successCallback(response) {
        		    	
        				console.log(response.data);
        				if(response.data == "already"){
        					
        					console.log("in else exists");
        					alert("User with this Email already exists");
        					$scope.displayexists = true;
        				}
        				else if(response.data == "registered"){
        					
        					window.location.assign("/signin");
	        			}
    	    			else{
        					console.log("IN ELSE");
        				}        			
        				
        		}, function errorCallback(response) {});  
        	}
        	
        	
        	
        	
        	$scope.signin = function(){
        		
            	$http({method: 'POST', url: '/signin', data: $scope.credentials}).then(function successCallback(response) {
            		    
            			if(response.data == "authorize"){
            				
            				window.location.assign("/home");
            			}
            			else{
            				if(response.data == "password"){
            					
            					$scope.validate = true;
            					$scope.validatevar = "Please Enter Password";
            				}
            				else{
            					$scope.validate = true;
            					$scope.validatevar = "Invalid Email / Password credentials";
            				}
            			}
            			
            		  }, function errorCallback(response) {});        	
            	}
		};
	</script>
	
  </body>
</html>