<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
    
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>User - Mobile Sensor Cloud</title>

<!--     Bootstrap Core CSS -->
<!--     <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->

<!--     MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

<!--     DataTables CSS -->
    <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

<!--     DataTables Responsive CSS -->
    <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

<!--     Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

<!--     Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app = "" class = "login" >



    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/user">Mobile Sensor Cloud</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                    
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    
                    <!-- /.dropdown-alerts -->
                </li>
                
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="/user"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                       
                        <li>
                            <li><a href="/signout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                      
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="min-height: 281px;margin-right: 100px;">
            <div class="row">
            
      <h2 align="center">User Dashboard</h2>
        
    <div ng-controller = "appController">
            
        <div>
            
<!--            enter sensor location to search <input ng-model = "sensorlocation"> -->
<!--            <button ng-click = "search()">Search</button> -->
            
<!--            <span ng-repeat = "x in searchresult"> -->
                        
<!--                <p>Sensor Name : {{x.sensorname}}  Sensor Data : {{x.sensorlocation}} Sensor Type : {{x.sensortype}}</p> -->
<!--                <button ng-click = "addsensortouser(x.sensorid)">add sensor</button> -->
                
<!--            </span> -->
            
            

            

            


            <h2>Select Tarrif Plan</h2> 
            <input type = "radio" name = "tariffplan" ng-model = "tariffplan" value = "1" ng-selected = "true" ng-checked = "true" ng-click = "showfirstlocation = true; showsecondlocation = false;">
            <label>Basic</label><br>
            
            <input type = "radio" name = "tariffplan" ng-model = "tariffplan" value = "2" ng-click = "showfirstlocation = true; showsecondlocation = true;">
            <label>Advanced</label><br>
            
            <input type = "radio" name = "tariffplan" ng-model = "tariffplan" value = "3" ng-click = "showfirstlocation = false; showsecondlocation = false;">
            <label>Pro</label><br>

            <h4>Monthly Cost</h4>
            <strong>$ {{bill}}</strong>

            <br><br><button ng-click = "updatetariff()" class="btn btn-success">Update Tariff</button> <br>
            
            
           <br> <label>Sensor Location</label> <input class="form-control"  ng-model = "tariffsensorlocation" ng-show = "showfirstlocation"><br>
            <label>Sensor Location 2</label><input class="form-control" ng-model = "tariffsensorlocation1" ng-show = "showsecondlocation"><br>


            
            
            <button ng-click = "updatelocation()" class="btn btn-success">Update Location</button>
            

            
            
        
 
<br><br><br>
 <div>
  <h2>Available Sensors</h2>
              
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        
      </tr>
    </thead>
    <tbody ng-repeat = "sensor in sensordata">
      <tr>
        
        
        <td>{{sensor.sensorid}}</td>
        <td>{{sensor.sensorname}}</td>
        <td>{{sensor.sensortype}}</td>
        <td>{{sensor.sensorlocation}}</td>
      </tr>
      
    </tbody>
  </table>
</div>


<div class="panel-group" id="accordion">
    <br><br><br>

    <h2>Sensor Details</h2>
    <div class="panel panel-default" ng-repeat = "sensorObject in sensordata">
    
        <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href=#{{sensorObject.sensorid}}>
                                    
                                    
                                            {{sensorObject.sensorid}}
                                            {{sensorObject.sensorname}}
                                            {{sensorObject.sensorlocation}}
                                        
                                    
                                
                </a>
            </h2>
        </div>
        
        
        <div id={{sensorObject.sensorid}} class="panel-group">
            
            <div id="collapse2" class="panel-collapse collapse in" ng-repeat= "x in sensorObject.sensordata[0].data.weather" >
              <br>Date :  
              <a data-toggle="collapse"  data-parent=#{{sensorObject.sensorid}} href=#{{x.date}} >{{x.date}}</a> <br>
                
                <div id={{x.date}} class="panel-header">
                    
                    <div class="panel-collapse collapse in" ng-repeat= "y in x.hourly" >
                     <br>Time :
                       <a data-toggle="collapse"  data-parent=#{{x.date}}  href=#{{y.time}}  >{{y.time}}</a> HRS <br>
                
                         <div id={{y.time}} class="panel-header" >
                
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Temperature</th>
                                            <th>Pressure</th>
                                            <th>Humidity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>{{y.tempC}} °C</td>
                                            <td>{{y.pressure}} mb</td>
                                            <td>{{y.humidity}} %</td>
                                        </tr>

                                    </tbody>
                                </table>
                                
                                
                           </div>
                    </div>  
                </div>    
            </div>
        </div>







        </div>
    </div>



        </div>
        

  
  </div> 
</div>
        
        
        
        
        
        
    </div>
        
            
        </div>      

    </div>
            
            

            
            












        
    </div>
        
                        
                        


    


<br><br>

 
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

<!--    Bootstrap Core JavaScript -->
<!--     <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->

<!--   Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

   <!-- DataTables JavaScript -->
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

 <!--   Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>
    
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    
     <script>
        function appController($scope, $http) {
            
            $scope.searchresult = [];
            $scope.sensors = [];
            $scope.sensordata = [];
            $scope.showfirstlocation = true;
            $scope.showsecondlocation = true;
            
            
            $http({method: 'GET', url: '/getsensordata'}).then(function successCallback(response){
                
                alert(JSON.stringify(response.data));
                console.log(JSON.stringify(response.data));
                $scope.sensordata = response.data;
                                
            });
            
            
            $http({method: 'GET', url: '/getuserselfprofile'}).then(function successCallback(response){
                
                alert(JSON.stringify(response.data));
                $scope.tariffplan = response.data[0].tariffplan;
                $scope.bill = response.data[0].bill;
                
                alert("tariffplan : " + $scope.tariffplan);
                
                
                if($scope.tariffplan == 1){
                    
                    $scope.showfirstlocation = true;
                    $scope.showsecondlocation = false;
                    $scope.tariffsensorlocation = response.data[0].sensorlocation;
                }
                else if($scope.tariffplan == 2){
                    
                    $scope.showfirstlocation = true;
                    $scope.showsecondlocation = true;
                    $scope.tariffsensorlocation = response.data[0].sensorlocation;
                    $scope.tariffsensorlocation1 = response.data[0].sensorlocation1;
                }
                else if($scope.tariffplan == 3){
                    
                    $scope.showfirstlocation = false;
                    $scope.showsecondlocation = false;
                }
                
                
                //alert("sensor data retrieved : " + JSON.stringify(response.data[0].sensordata[0]));
                
            });
            
            
            
            $scope.updatetariff = function(){
                
                alert("updating... tariffplan " + $scope.tariffplan);
                
                $http({method: 'POST', url: '/updatetariff', data:{tariffplan: $scope.tariffplan}}).then(function successCallback(response){
                    
                    alert("Updated Tariff");
                    window.location.assign("/user");
                    
                });             
            }
            
            
            $scope.updatelocation = function(){
                
                alert("updating... tarifflocation " + $scope.tariffsensorlocation + " " + $scope.tariffsensorlocation1);
                
                
                
                $http({method: 'POST', url: '/updatetariffsensorlocation', data:{tariffsensorlocation: $scope.tariffsensorlocation, tariffsensorlocation1: $scope.tariffsensorlocation1}}).then(function successCallback(response){
                    
                    alert("Updated tariff location");
                    window.location.assign("/user");
                    
                });             
            }
            
            
//          $scope.search = function (){
                
//              alert("searching");
//              $http({method: 'POST', url: '/getusersensors', data: {"sensorlocation" : $scope.sensorlocation}}).then(function successCallback(response) {
                
//                  alert("search result " + JSON.stringify(response.data));
//                  $scope.searchresult = response.data;    
//                  //alert(JSON.stringify($scope.sensors));
                                
//              }, function errorCallback(response) {});
//          }
            
            
//          $scope.addsensortouser = function(sensorid){
                
//              $http({method: 'POST', url: '/addsensortouser', data: {"sensorid" : sensorid}}).then(function successCallback(response){
                    
//                  alert("sensor added to user account");
                    
//              });
//          }

        };
    </script>
    

</body>

</html>
